body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:200px auto 50px;
  grid-template-areas:
  "h h"
  "s a"
  "f f";
  grid-gap: 20px;
}

@media screen and (max-width: 800px){
  body {
    grid-template-rows: 200px repeat(2, 1fr) 50px;
    grid-template-areas:
    "h h"
    "s s"
    "a a"
    "f f";
  }
}


p {
  /*färg på text*/
}

body {
  background-color:grey;
}

header{
  grid-area: h;
  background-color:lightgreen;
}

section {
  background-color: lightyellow;
  grid-area: s;
}

aside {
  background-color: lightblue;
  grid-area: a;
}

footer {
  grid-area: f;
}


img#sea {
  width: auto;
  max-width: 100%;
}

img#html {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
